asgiref==3.11.1
dj-database-url==2.2.0
Django==6.0.4
django-cors-headers==4.9.0
google-auth==2.56.0
gunicorn==23.0.0
Pillow==12.3.0
PyJWT==2.13.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.1
whitenoise==6.9.0
